<h2>Add Task</h2>

<form method="POST">
    {% csrf_token %}

    <input type="text" name="title" placeholder="Task Title">

    <select name="project_id">
        {% for proj in projects %}
            <option value="{{ proj.id }}">{{ proj.name }}</option>
        {% endfor %}
    </select>

    <select name="employee_ids">
        {% for emp in employees %}
            <option value="{{ emp.id }}">{{ emp.user}}</option>
        {% endfor %}
    </select>

    <div class="form-group">

    <label for="status">Task Status</label>

    <select name="status" id="status" class="dropdown">

        <option value="pending">
            🟡 Pending
        </option>

        <option value="in_progress">
            🔵 In Progress
        </option>

        <option value="completed">
            🟢 Completed
        </option>

    </select>

    </div>

    <button type="submit">Add Task</button>
</form>