<h2>Assign Employees to Project</h2>

<p><b>Project:</b> {{ project.name }}</p>

<form method="POST">
    {% csrf_token %}
    
    
    <label>Select Manager:</label>

    <select name="manager_id" multiple size="8">
        {% for emp in manager %}
            {% if emp.role == "manager" %}
                <option value="{{ emp.id }}">
                    {{ emp.id }} - {{ emp.user }}
                </option>
            {% endif %}    
        {% endfor %}
    </select>
    
    
    <br>
    <label>Select Employees:</label><br><br>

    <select name="employee_ids" multiple size="8">
        {% for emp in employees %}
            <option value="{{ emp.id }}">
                {{ emp.user }}
            </option>
        {% endfor %}
    </select>
    </br>
    
    <button type="submit">Assign Employees</button>
</form>

<br>
<a href="{% url 'dashboard' %}">Back</a>